@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Indie+Flower&family=Lato:wght@700&family=Roboto+Mono:wght@500&display=swap");
body {
  font-family: "Indie Flower", sans-serif;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  background-color: #1a1a1d;
  color: #950740;
}
main {
  background-color: #950740;
  height: 500px;
  width: 100%;
}
input {
  border: none;
  border-bottom: 2px solid #1a1a1d;
  background-color: #fdfffc;
  color: #1a1a1d;
  width: 80%;
  height: 20%;
  font-size: 2rem;
}
h1 {
  border: 8px dotted #c3073f;
  background: #1a1a1d;
  color: #950740;
  text-shadow: 1px 1px 1px #6f2232, 1px 1px 1px #6f2232;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  transition: all ease-in-out 1s;
  text-align: center;
  font-size: 2rem;
  padding: 20px 40px 20px 40px;
}
h1:hover {
  transform: scale(1.1);
  border-radius: 60% 40% 60% 40% / 30% 50% 50% 40%;
}
h2 {
  text-decoration: underline;
  margin-bottom: 10px;
  margin-top: 0px;
  color: #fdfffc;
}
h3 {
  margin-bottom: 10px;
  margin-top: 0px;
  color: #fdfffc;
}
a {
  text-decoration: none;
  color: #fdfffc;
}
.spacer {
  flex: 2.65;
  background-color: rgba(0, 255, 255, 0);
}

ul {
  background-color: #950740;
  color: #fdfffc;
  margin: 0;
  padding: 60px;
  display: flex;
  flex-direction: column;
  list-style: none;
  transition: all 1s ease;
}
ul li {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: text-decoration 1s ease;
  text-decoration: none;
}
ul li:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.square {
  height: 13px;
  width: 13px;
  background-color: #fff;
  border: 1px solid black;
}
#add {
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
#clear {
  margin: 10px;
  width: 40%;
  height: 7%;
  font-size: 1rem;
  border-radius: 20px;
  background-color: #1a1a1d;
  color: #fdfffc;
}
#todo-entry {
  height: 8vh;
  width: 60%;
  font-size: 1.5rem;
  font-style: italic;
  background-color: rgba(0, 255, 255, 0);
  color: white;
  text-align: center;
}

input:focus {
  outline: none;
}
@media all and (max-width: 575px) {
  h1 {
    font-size: 2.5rem;
    padding: 20px 40px 20px 40px;
  }
  ul {
    margin: 5%;
    padding: 10px 50px 10px 50px;
  }
  li {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 576px) {
  h1 {
    font-size: 4rem;
  }
  #todo-entry {
    width: 40%;
  }
}
@media all and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  #clear {
    width: 30%;
  }
}

@media all and (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }
  #todo-entry {
    width: 30%;
  }
  #clear {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
  #todo-entry {
    width: 20%;
  }
  #clear {
    width: 10%;
  }
}

@media (min-width: 1400px) {
  #todo-entry {
    width: 20%;
  }
  #clear {
    width: 8%;
  }
}
